{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Home – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link" href="https://github.com/dhsc-customer/inclusive-design-tool/issues">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">At risk communities</span>
        <h1 class="govuk-heading-xl">
            Older people
        </h1>
        <p class="govuk-body">Last updated on June 2021</p>

        <h2 class="govuk-heading-l">Quote</h2>

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

        {{ govukInsetText({
        text: "Think about older people. IT is very poor. Really thinking everyone is young. Your people on the phone were very good, if it wasn’t for them this would have been a disaster – User research, June 2020"
        }) }}

        <h2 class="govuk-heading-l">Facts and figures</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>There are nearly 12 million (11,989,322) people aged 65 and above in the UK. Of these, 5.4 million people are over 75, 1.6 million are over 85. Over 500,000 people are over 90, and 14,430 are over 100.</li>
            <li><a href="https://ageing-better.org.uk/news/lockdown-could-leave-next-generation-retirees-poorer-and-sicker-last"
                    class="govuk-link">Centre for Better Ageing report</a>states that a fifth of people in this age group have seen their physical health deteriorate during the lockdown period, and over a third say their mental health has worsened.</li>
            <li>People who are 80 or older were seventy times more likely to die than those under 40.</li>
        </ul>

        <h2 class="govuk-heading-l">Needs to consider in your designs</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>I need to be informed about the process and purpose of testing so that I
                can feel prepared for it</li>
            <li>I need an option to test from the safety of my home with the support of
                another person or on the phone</li>
            <li>I need a way of getting my test delivered to my home without an email or
                phone</li>
            <li>I need the testing experience to be connected to my GP and/or
                pharmacist</li>
            <li>I need reliable guidance about the testing process and about shielding
                instructions</li>
            <li>I need a way of getting a test and my results by phone call</li>
        </ul>
      
      <h2 class="govuk-heading-l">Tips for conducting research with this group</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Create a calm environment. Be patient with participants, slow down when giving instructions or repeat if needed.</li>
          <li>Allow time for participants to process information before responding to call to actions.</li>
          <li>Provide an opportunity to participants to indicate any access needs or presence of support individual.</li>
          <li>Keep the interview short to reduce fatigue or anxiety.</li>
        </ul>
      
      <h2 class="govuk-heading-l">For more information</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.cdc.gov/aging/covid19/covid19-older-adults.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fneed-extra-precautions%2Folder-adults.html" class="govuk-link">COVID-19 risks and vaccine information for older adults</a></li>
          <li>Public Health England 2020</li>
          <li><a href="https://www.ageuk.org.uk/globalassets/age-uk/documents/reports-and-publications/later_life_uk_factsheet.pdf" class="govuk-link">Later life in the United Kingdom report, age.uk</a></li>
          <li>ONS</li>
      </ul>

    </div>
</div>



{% endblock %}
